*{
	font-family: Arial, Verdana, Sans-serif ;
}

#un{
	background-color: blue;
}

#deux{
	background-color: white;
}

#trois{
	background-color: red;
}

#iut{
	margin-left: auto;
    margin-right: auto;
    display: block;
}